.heading {
   margin: 50px auto !important;
   text-align: center;
}

.formContainer {
   display: flex !important;
   justify-content: space-around;
}

.alert {
   margin: 50px auto;
   width: 60%;
}
